.brand{
	font-family: 'Nothing You Could Do', cursive;
	color: #000 !important;
}
.tabs-shake{
	padding-left : 10px;
	z-index:999;	
	width:100%;
	/*background-color: rgba(255, 255, 255, 0.5);*/
	
	/* webkit example */
        background-image: -webkit-gradient(
          linear,  right top, right bottom, from(rgba(255, 255, 255, 1.0)),
          to(rgba(255, 255, 255, 0))
        );

        /* mozilla example - FF3.6+ */
        background-image: -moz-linear-gradient(
          top center,
          rgba(255, 255, 255, 1.0) 20%, rgba(255, 255, 255, 0) 95%
        );

        /* IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=0, startColorStr=#FFFFFFFF, endColorStr=#00FFFFFF
        );

        /* IE8 uses -ms-filter for whatever reason... */
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=0, startColorStr=#FFFFFFFF, endColorStr=#00FFFFFF
        );
}


.navbar-fixed-top{
	margin-bottom: 0;
}
.content{
	margin-top : 40px;
}
.tabs-shake a{
	border-color: transparent #ddd #ddd #ddd !important;
}
.tabs-shake .active a{
	border-color: transparent #bbb #bbb #bbb !important;
	background-color:#8BBED5 !important;
}

.tabs-shake > .nav-tabs > .active > a > [class^="icon-"],
.tabs-shake > .nav-tabs > .active > a > [class*=" icon-"]
{
	background-image: url("../img/glyphicons-halflings.png");
}


.tabs-shake .nav{
	 margin-bottom: 0;
}
.tabs-shake li{
	 background-color:#fff;
}

.tab-content{
	padding : 0 20px 0 20px;
}

.navbar .divider-vertical{
	margin:0;
}

/* Fix dropdown in IE8 */
.nav-collapse.collapse {
	height: auto;
	overflow: visible;
 }

.widget-box{
	/*margin: 0 0 10px 0;*/
}
.widget-title{
	line-height: 18px;
}
.widget-title h5 {
   margin:0px;
   font-family: 'Quicksand', sans-serif;
   font-weight:bold;
   font-size: 16px;
   letter-spacing:-1px
}
.widget-title span.icon{
	border-right:none;
	padding-right: 0;
}


.row-fluid:first-child{
	margin-top:0px !important;
}

.new-update img {
float: left;
margin-top: 3px;
margin-right: 13px;
}

.fc-header-title h2{
	font-size: 22px;
    line-height: 24px;
}
.newsContent img{
	float: left;
	margin-top: 3px;
	margin-right: 13px;
}

.align-left{
	text-align:left !important;
}

.align-right{
	text-align:right !important;
}

.align-center{
	text-align:center !important;
}

.navbar .nav > li > a, .widget-title h5
{
    text-shadow: none;
	letter-spacing:-1px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}



.tabs-shake .active a,
.gradiant{
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#B0D3E3), to(#8BBED5));
    background-image: -webkit-linear-gradient(top, #B0D3E3 0%, #8BBED5 100%);
    background-image: -moz-linear-gradient(top, #B0D3E3 0%, #8BBED5 100%);
    background-image: -ms-linear-gradient(top, #B0D3E3 0%, #8BBED5 100%);
    background-image: -o-linear-gradient(top, #B0D3E3 0%, #8BBED5 100%);
    background-image: -linear-gradient(top, #B0D3E3 0%, #8BBED5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B0D3E3', endColorstr='#8BBED5');

}

.nav-img{
    margin:5px;
}

.navbar-search{
	margin-right: 20px;
}

.color1{
	background-color:#8bbed5;
}
.color2{
	background-color:#8ba2d5;
}
.color3{
	background-color:#9e8bd5;
}
.color4{
	background-color:#c88bd5;
}
.color5{
	background-color:#da8faf;
}
.color6{
	background-color:#e59b95;
}
.color7{
	background-color:#e5b895;
}
.color8{
	background-color:#e5c895;
}
.color9{
	background-color:#e5d895;
}
.color10{
	background-color:#e1e394;
}
.color11{
	background-color:#bddc8f;
}
.color12{
	background-color:#8bd59b; 	
}

.gradiant3{
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#BDB0E3), to(#9e8bd5));
    background-image: -webkit-linear-gradient(top, #BDB0E3 0%, #9e8bd5 100%);
    background-image: -moz-linear-gradient(top, #BDB0E3 0%, #9e8bd5 100%);
    background-image: -ms-linear-gradient(top, #BDB0E3 0%, #9e8bd5 100%);
    background-image: -o-linear-gradient(top, #BDB0E3 0%, #9e8bd5 100%);
    background-image: -linear-gradient(top, #BDB0E3 0%, #9e8bd5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BDB0E3', endColorstr='#9e8bd5');
}

.gradiant6{
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EACFA9), to(#e59b95));
    background-image: -webkit-linear-gradient(top, #EACFA9 0%, #e59b95 100%);
    background-image: -moz-linear-gradient(top, #EACFA9 0%, #e59b95 100%);
    background-image: -ms-linear-gradient(top, #EACFA9 0%, #e59b95 100%);
    background-image: -o-linear-gradient(top, #EACFA9 0%, #e59b95 100%);
    background-image: -linear-gradient(top, #EACFA9 0%, #e59b95 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EACFA9', endColorstr='#e59b95');
}

.gradiant9{
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EFE7BD), to(#e5d895));
    background-image: -webkit-linear-gradient(top, #EFE7BD 0%, #e5d895 100%);
    background-image: -moz-linear-gradient(top, #EFE7BD 0%, #e5d895 100%);
    background-image: -ms-linear-gradient(top, #EFE7BD 0%, #e5d895 100%);
    background-image: -o-linear-gradient(top, #EFE7BD 0%, #e5d895 100%);
    background-image: -linear-gradient(top, #EFE7BD 0%, #e5d895 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFE7BD', endColorstr='#e5d895');
}
	

.gradiant12{
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#B0E3BB), to(#8bd59b));
    background-image: -webkit-linear-gradient(top, #B0E3BB 0%, #8bd59b 100%);
    background-image: -moz-linear-gradient(top, #B0E3BB 0%, #8bd59b 100%);
    background-image: -ms-linear-gradient(top, #B0E3BB 0%, #8bd59b 100%);
    background-image: -o-linear-gradient(top, #B0E3BB 0%, #8bd59b 100%);
    background-image: -linear-gradient(top, #B0E3BB 0%, #8bd59b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B0E3BB', endColorstr='#8bd59b');
}
	
	
	
	
	
	
	
	
	
	
	
	

