.tabs-shake{
	padding-left : 10px;
	z-index:999;	
	width:100%;
	/*background-color: rgba(255, 255, 255, 0.5);*/
	
	/* webkit example */
        background-image: -webkit-gradient(
          linear,  right top, right bottom, from(rgba(255, 255, 255, 1.0)),
          to(rgba(255, 255, 255, 0))
        );

        /* mozilla example - FF3.6+ */
        background-image: -moz-linear-gradient(
          top center,
          rgba(255, 255, 255, 1.0) 20%, rgba(255, 255, 255, 0) 95%
        );

        /* IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=0, startColorStr=#FFFFFFFF, endColorStr=#00FFFFFF
        );

        /* IE8 uses -ms-filter for whatever reason... */
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=0, startColorStr=#FFFFFFFF, endColorStr=#00FFFFFF
        );
}


.navbar-fixed-top{
	margin-bottom: 0;
}
.content{
	margin-top : 40px;
}
.tabs-shake a{
	border-color: transparent #ddd #ddd #ddd !important;
}
.tabs-shake .active a{
	border-color: transparent #bbb #bbb #bbb !important;
	background-color:#8BBED5 !important;
}

.tabs-shake > .nav-tabs > .active > a > [class^="icon-"],
.tabs-shake > .nav-tabs > .active > a > [class*=" icon-"]
{
	background-image: url("../img/glyphicons-halflings.png");
}


.tabs-shake .nav{
	 margin-bottom: 0;
}
.tabs-shake li{
	 background-color:#fff;
}

.tab-content{
	padding : 0 20px 0 20px;
}

.navbar .divider-vertical{
	margin:0;
}

/* Fix dropdown in IE8 */
.nav-collapse.collapse {
	height: auto;
	overflow: visible;
 }

.widget-box{
	/*margin: 0 0 10px 0;*/
}
.widget-title{
	line-height: 18px;
}
.widget-title h5 {
   margin:0px;
}
.widget-title span.icon{
	border-right:none;
	padding-right: 0;
}


.row-fluid:first-child{
	margin-top:0px !important;
}

.new-update img {
float: left;
margin-top: 3px;
margin-right: 13px;
}

.fc-header-title h2{
	font-size: 22px;
    line-height: 24px;
}
.newsContent img{
	float: left;
	margin-top: 3px;
	margin-right: 13px;
}

.align-left{
	text-align:left !important;
}

.align-right{
	text-align:right !important;
}

.align-center{
	text-align:center !important;
}

.navbar .nav > li > a, .widget-title h5
{
    text-shadow: none;
}


.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header{
    background-color: #efefef;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#efefef), to(#efefef));
    background-image: -webkit-linear-gradient(top, #efefef 0%, #efefef 100%);
    background-image: -moz-linear-gradient(top, #efefef 0%, #efefef 100%);
    background-image: -ms-linear-gradient(top, #efefef 0%, #efefef 100%);
    background-image: -o-linear-gradient(top, #efefef 0%, #efefef 100%);
    background-image: -linear-gradient(top, #efefef 0%, #efefef 100%);    
}

.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child,
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child
{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.tabs-shake .active a,
.gradiant{
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#B0D3E3), to(#8BBED5));
    background-image: -webkit-linear-gradient(top, #B0D3E3 0%, #8BBED5 100%);
    background-image: -moz-linear-gradient(top, #B0D3E3 0%, #8BBED5 100%);
    background-image: -ms-linear-gradient(top, #B0D3E3 0%, #8BBED5 100%);
    background-image: -o-linear-gradient(top, #B0D3E3 0%, #8BBED5 100%);
    background-image: -linear-gradient(top, #B0D3E3 0%, #8BBED5 100%);
}

.nav-img{
    margin:5px;
}